* {
  padding:0;
  margin:0;
}

body {
  text-align: center;
  background-color:black;
  font-family: Helvetica, Arial, Courier, sans-serif;
  background-image: url("images/bg-static.png");
  text-shadow: 1px 1px #000000;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

marquee {
  border: 1px solid black;
  background-image: url("images/marquee-bg.jpg");
  box-shadow: 2px 3px black;
}

h1, p {
  color:white;
  padding:12px;
}

h1 {
  font-size: 60px;
}

h1:hover {
  color: yellow;
}

p {
  font-size: 30px;
}

ul {
  color:white;
}

table {
  color:white;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  /* border: solid 1px red; */
}

.box {
  height:auto;
  width:auto;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:10px;
  /* border:dashed 1px white; */
}
